nav.amazon {
    background-color: rgb(63, 63, 63);
    position: absolute;
    top: 0%;
    left: 0%;
    padding-bottom: 50px;
    padding-top: 15px;
    width: 100%;
    height: 110px;
    border-bottom: solid, 90px, rgb(224, 227, 238);

}
nav.amazon a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.iniciar {
    margin-top: -50px;
    font-size: 20px;
    margin-left: 200px;
    float: right;
    padding-right: 25px;
}
.opciones{
    margin-left:3%;
    margin-top: 10px;
    width: 170px;
  }
.miniboton {
    background-color: #1b1b1b;
    color: white;
    padding: 16px;
    font-size: 16px;
    min-width: 180px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  .desplegar {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
  .desplegar a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  .desplegar a:hover{
    background: white;
    color: rgb(0, 0, 0);
    transform: scale(1, 1);
    transition: all 0.4s ease ;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
  .opciones:hover .desplegar{
    display: block;
}
  .opciones:hover .miniboton{
    background: white;
    color: rgb(0, 0, 0);
    transform: scale(1, 1);
    transition: all 0.3s ease;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
}
nav.minizon {
    background:rgb(49, 49, 49);
    position: absolute;
    top: 100px;
    left: 0%;
    width: 100%;
    height: 15px;
}
.control {
    width: 100%;
    background: #1b1d1f;
    padding: 13px;
    border-radius: 4px;
    margin-bottom: 35px;
    border: 1px solid #dddddd;
    font-size: 18px;
    color: white;
}
.formulario {
    margin-left: 900px;
    width: 550px;
    height: 500px;
    background: #2c2f33;
    padding: 25px;
    margin-top: 100px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.formulario p {
    height: 15px;
    text-align: center;
    font-size: 19px;
    line-height: 10px;
    padding: 20px;
}
.formulario a {
    padding:10px ;
    color: white;
    text-decoration: none;
}
.formulario a:hover {
    color: white;
    text-decoration: underline;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 26px;
}
.formulario .boton {
    width: 100%;
    background: #000000;
    border: none;
    padding: 15px;
    color: white;
    margin: 16px;
    font-size: 18px;
    margin-left: 2px;
    border-radius: 3px;
}
.ola{
    background-color: #999999;
}
footer{
    background-color: rgb(26, 26, 26);
    padding-bottom: 50px;
    margin-top:75px;
    box-shadow: 7px 10px 37px #000;
    font-size: 12px;
    color: rgb(82, 82, 82);
}
.foot{
        background-color: rgb(26, 26, 26);
    padding-left: 50px;
    padding-top: 50px;
}
.foot2{
    margin-top: -103px;
    padding-left: 210px;
}

